<div class="panel-group">
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-settings"
    >
      <h3 class="panel-title"><%= i18n('settings') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-settings">
      <div class="panel-body">
        <div class="form-group">
          <label><%= i18n('assistant_id') %></label>
          <input class="form-control" name="assistantId" />
        </div>
        <div class="form-group">
          <label><%= i18n('app') %></label>
          <input class="form-control" name="app" />
        </div>

        <div
          class="panel-group"
          id="advanced-settings-accordion"
          data-accordion
        >
          <div class="panel panel-default">
            <a
              class="panel-heading collapsed"
              role="button"
              data-toggle="collapse"
              data-parent="#advanced-settings-accordion"
              data-target="#advanced-settings"
              ><label class="panel-title"><%= i18n('advanced') %></label>
            </a>
            <div class="panel-collapse" id="advanced-settings">
              <div class="panel-body">
                <div class="form-group">
                  <label
                    ><input
                      type="checkbox"
                      name="remember_session"
                      data-value-type="boolean"
                    />
                    <%= i18n('remember_session') %></label
                  >
                </div>
                <div class="form-group">
                  <label><%= i18n('app_session_id') %></label>
                  <input type="text" required name="app_session_id" />
                </div>
                <div class="form-group">
                  <label
                    ><input
                      type="checkbox"
                      name="allow_fullscreen"
                      data-value-type="boolean"
                      data-enables=".only-fullscreen-option"
                    />
                    <%= i18n('allow_fullscreen') %></label
                  >
                </div>
                <div class="form-group">
                  <label
                    ><input
                      type="checkbox"
                      name="show_history"
                      data-value-type="boolean"
                    />
                    <%= i18n('show_history') %></label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ANVÄNDARE -->
<div class="panel-group" id="users-information" data-accordion>
  <!-- ASSISTANT INFORMATION -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#assistant-info"
      data-parent="#users-information"
    >
      <h3 class="panel-title"><%= i18n('assistant_info') %></h3>
    </a>
    <div class="panel-collapse" id="assistant-info">
      <div class="panel-body">
        <div class="form-group">
          <label><%= i18n('name') %></label>
          <input class="form-control" name="assistant_name" />
        </div>

        <div class="form-group">
          <label><%= i18n('title') %></label>
          <input class="form-control" name="assistant_title" />
        </div>
        <div class="form-group">
          <label><%= i18n('description') %></label>
          <textarea class="form-control" name="assistant_description">
          </textarea>
        </div>
        <div class="form-group">
          <label><%= i18n('avatar') %></label>
          <input
            class="form-control"
            data-component="image-selector"
            data-removable
            name="assistant_avatar"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('initials') %></label>
          <input
            class="form-control"
            name="assistant_shortName"
            maxlength="2"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('avatar_color') %></label>
          <select
            id="select"
            name="assistant_avatar_color"
            class="form-control"
          >
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
        </div>
        <div class="form-group">
          <label
            ><input
              type="checkbox"
              name="assistant_show_title"
              data-value-type="boolean"
            />
            <%= i18n('show_name_in_feed') %></label
          >
        </div>
      </div>
    </div>
  </div>

  <!-- USER INFORMATION -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#user-info"
      data-parent="#users-information"
    >
      <h3 class="panel-title"><%= i18n('user_info') %></h3>
    </a>
    <div class="panel-collapse" id="user-info">
      <div class="panel-body">
        <p><%= i18n('user_info_description') %></p>
        <div class="form-group">
          <label><%= i18n('name') %></label>
          <input class="form-control" name="user_name" />
        </div>

        <div class="form-group">
          <label><%= i18n('avatar') %></label>
          <input
            class="form-control"
            data-component="image-selector"
            data-removable
            name="user_avatar"
          />
        </div>
        <div class="form-group">
          <label><%= i18n('initials') %></label>
          <input class="form-control" name="user_initials" maxlength="2" />
        </div>
        <div class="form-group">
          <label><%= i18n('avatar_color') %></label>
          <select id="select" name="user_avatar_color" class="form-control">
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
        </div>
        <div class="form-group">
          <label
            ><input
              type="checkbox"
              name="user_show_title"
              data-value-type="boolean"
            />
            <%= i18n('show_name_in_feed') %></label
          >
        </div>
      </div>
    </div>
  </div>

  <!-- SYSTEM INFORMATION -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#system-info"
      data-parent="#users-information"
    >
      <h3 class="panel-title"><%= i18n('system_info') %></h3>
    </a>
    <div class="panel-collapse" id="system-info">
      <div class="panel-body">
        <p><strong><%= i18n('system_info_description') %></strong></p>

        <fieldset class="form-group">
          <label>
            <input type="radio" name="system_show" value="assistant" />
            <%= i18n('system_show_as_assistant') %>
          </label>
          <label>
            <input
              type="radio"
              data-enables="#system-custom-setup"
              name="system_show"
              value="custom"
            />
            <%= i18n('system_show_as_custom') %>
          </label>
        </fieldset>

        <div id="system-custom-setup">
          <div class="form-group">
            <label><%= i18n('name') %></label>
            <input class="form-control" name="system_name" />
          </div>

          <div class="form-group">
            <label><%= i18n('avatar') %></label>
            <input
              class="form-control"
              data-component="image-selector"
              data-removable
              name="system_avatar"
            />
          </div>
          <div class="form-group">
            <label><%= i18n('initials') %></label>
            <input class="form-control" name="system_initials" maxlength="2" />
          </div>
          <div class="form-group">
            <label><%= i18n('avatar_color') %></label>
            <select id="select" name="system_avatar_color" class="form-control">
              <option value="vattjom">Vattjom</option>
              <option value="juniskar">Juniskär</option>
              <option value="bjornstigen">Björnstigen</option>
              <option value="gronsta">Grönsta</option>
            </select>
          </div>
          <div class="form-group">
            <label
              ><input
                type="checkbox"
                name="system_show_title"
                data-value-type="boolean"
              />
              <%= i18n('show_name_in_feed') %></label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FÖRDEFINIERADE FRÅGOR -->
<div class="panel-group">
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-target="#pre-defined-question-panel"
    >
      <h3 class="panel-title"><%= i18n('pre_defined_questions') %></h3>
    </a>
    <div class="panel-collapse" id="pre-defined-question-panel">
      <div class="panel-body">
        <div class="form-group">
          <label>
            <input
              type="checkbox"
              name="use_questions"
              data-enables=".pre-defined-questions"
              data-value-type="boolean"
            />
            <%= i18n('use_pre_defined_questions') %>
          </label>
        </div>
      </div>
      <div class="panel-body pre-defined-questions">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label><%= i18n('heading') %></label>
              <input class="form-control" name="questions_title" />
            </div>
            <div class="form-group">
              <label><%= i18n('number_of_questions') %></label>
              <input
                class="form-control"
                data-component="number-spinner"
                data-min="1"
                data-max="5"
                data-step="1"
                name="questions_count"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label><%= i18n('question') %> 1</label>
              <input class="form-control" name="question_1" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 2</label>
              <input class="form-control" name="question_2" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 3</label>
              <input class="form-control" name="question_3" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 4</label>
              <input class="form-control" name="question_4" />
            </div>
            <div class="form-group">
              <label><%= i18n('question') %> 5</label>
              <input class="form-control" name="question_5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UTSEENDE -->
<div class="panel-group" id="styling-accordion" data-accordion>
  <!-- Sidhuvud -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-parent="#styling-accordion"
      data-target="#styling-header"
      ><h3 class="panel-title"><%= i18n('header') %></h3>
    </a>
    <div class="panel-collapse" id="styling-header">
      <div class="panel-body">
        <fieldset class="form-group">
          <legend><%= i18n('headings') %></legend>
          <label>
            <input type="radio" name="header_titles" value="assistant" />
            <%= i18n('use_assistant_titles') %>
          </label>
          <label>
            <input
              type="radio"
              data-enables="#header-titles-values"
              name="header_titles"
              value="custom"
            />
            <%= i18n('use_custom') %>
          </label>
        </fieldset>
        <div id="header-titles-values">
          <div class="form-group">
            <label><%= i18n('heading') %></label>
            <input class="form-control" name="header_title" />
          </div>
          <div class="form-group">
            <label><%= i18n('subheading') %></label>
            <input class="form-control" name="header_subtitle" />
          </div>
        </div>
      </div>
      <div class="panel-body">
        <fieldset class="form-group">
          <legend><%= i18n('background_color') %></legend>
          <label>
            <input type="radio" name="color_header" value="black" />
            <%= i18n('black') %>
          </label>
          <label>
            <input type="radio" name="color_header" value="vattjom" />
            Vattjom
          </label>
          <label>
            <input type="radio" name="color_header" value="juniskar" />
            Juniskär
          </label>
          <label>
            <input type="radio" name="color_header" value="bjornstigen" />
            Björnstigen
          </label>
          <label>
            <input type="radio" name="color_header" value="gronsta" />
            Grönsta
          </label>
          <label>
            <input
              type="radio"
              data-enables=".color-header-values"
              name="color_header"
              value="custom"
            />
            <%= i18n('use_custom') %>
          </label>
          <div class="row color-header-values">
            <div class="col-md-6">
              <formfield class="form-group">
                <legend><%= i18n('lightmode') %></legend>
                <div class="form-group">
                  <label><%= i18n('background') %></label>
                  <select
                    data-component="color-selector"
                    name="color_header_background_light"
                  ></select>
                </div>
                <div class="form-group">
                  <label><%= i18n('text') %>, <%= i18n('primary') %></label>
                  <select
                    data-component="color-selector"
                    name="color_header_text_primary_light"
                  ></select>
                </div>
                <div class="form-group">
                  <label><%= i18n('text') %>, <%= i18n('secondary') %></label>
                  <select
                    data-component="color-selector"
                    name="color_header_text_secondary_light"
                  ></select>
                </div>
              </formfield>
            </div>
            <div class="col-md-6">
              <formfield class="form-group">
                <legend><%= i18n('darkmode') %></legend>
                <div class="form-group">
                  <label><%= i18n('background') %></label>
                  <select
                    data-component="color-selector"
                    name="color_header_background_dark"
                  ></select>
                </div>
                <div class="form-group">
                  <label><%= i18n('text') %>, <%= i18n('primary') %></label>
                  <select
                    data-component="color-selector"
                    name="color_header_text_primary_dark"
                  ></select>
                </div>
                <div class="form-group">
                  <label><%= i18n('text') %>, <%= i18n('secondary') %></label>
                  <select
                    data-component="color-selector"
                    name="color_header_text_secondary_dark"
                  ></select>
                </div>
              </formfield>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="panel-body color-header-values">
        <formfield class="form-group">
          <legend><%= i18n('menu') %>, <%= i18n('buttons') %></legend>
          <label>
            <input type="radio" name="header_buttons" value="light" />
            <%= i18n('light') %>
          </label>
          <label>
            <input type="radio" name="header_buttons" value="dark" />
            <%= i18n('dark') %>
          </label>
        </formfield>
      </div>

      <!-- Only fullscreen -->
      <div class="panel-body only-fullscreen-option">
        <div class="form-group">
          <label><%= i18n('new_question') %>, <%= i18n('button') %></label>
          <select id="select" name="header_newquest_color" class="form-control">
            <option value="vattjom">Vattjom</option>
            <option value="juniskar">Juniskär</option>
            <option value="bjornstigen">Björnstigen</option>
            <option value="gronsta">Grönsta</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- CSS -->
  <div class="panel panel-default">
    <a
      class="panel-heading collapsed"
      role="button"
      data-toggle="collapse"
      data-parent="#styling-accordion"
      data-target="#styling-css"
      ><h3 class="panel-title"><%= i18n('css') %></h3>
    </a>
    <div class="panel-collapse" id="styling-css">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label><%= i18n('css') %></label>
              <textarea class="form-control" name="css" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
